:root {
  --mainBlue: #2a2a72;
  --mainWhite: #f3f3f3;
  --lightBlue: #009ffd;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: "PT Sans", sans-serif !important;
  background: var(--mainWhite);
  color: var(--mainDark);
}

.text-title {
  font-family: "Merriweather", serif !important;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}
